<div class="col-10 offset-1">
  <h1>About Citepost</h1>

  <p>
    Citepost was built by <a target="_blank" href="https://christincech.netlify.com/">Christin Cech</a>. A Web Developer on a mission to give people the technical skills needed to launch their own web applications and turn ideas into a reality.
  </p>
  <br />
  <p>
    Christin received her education at UW Extended Campus in Milwaukee, Wisconsin while working full time at a local utility and part time at Milwaukee Area Technical College as an instructor.  She has developed multiple applications in the Ruby programming language.
  </p>
  <br />
  <p>
    If you want to hire Christin for a web developer, click <a target="_blank" href="https://christincech.netlify.com/#hire-me"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'cc.JPG', class: 'img-fluid' %>
    </div>

</div>